#pivot-graph-container {
  height: 400px;
  width: 600px;
}

#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding-top: 10px;
}


.axis path,
.axis line {
  display: none;
}

.panel-title {
  display:inline-block;
}

.panel-heading button {
  display: inline-block;
  float: right
}

.glyphicon-map-marker {
  display: inline-block;
  float: right;
}

.Select {
  margin: 10px 0px 10px 0px;
}

.node {
  fill: #ff4136;
}

.node:hover {
  fill: #2196f3;
}

.link {
  fill: none;
  stroke: #000;
  opacity: 0.25;
}

.link:hover {
  stroke: #28b62c;
  opacity: 0.8;
}


#map-overlay {
  margin: 10px;
}

.tooltip {
  pointer-events: none;
}

.list-group {
  height: 100vh;
  overflow-y: scroll;
}

.popover .orphan {
  max-width: 500px;
  left: 100px;
}
